html,
body {}

body {
  padding-top: 50px;
  padding-bottom: 35px;
  padding-left: 35px;
  padding-right: 35px;

}


/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Cabin Sketch', cursive;


}

body {
  background-color: lightsteelblue;
}

i {
  background-color: #e3f2fd;
  color: black;
  box-shadow: 0px -10px 20px -9px #095659;
  position: relative;
  border: 2px solid aliceblue;
  font-family: 'Fredericka the Great', cursive;
  
  width: 88%;


}




img {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  width: 100%;
  border-radius: 100%;
  object-fit: fill;

}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 265px;
}

.estrellas {
  position: relative;
  width: 256.5px;
  height: 148.5px;
  margin: 0 auto;
  font-family: 'Cabin Sketch', cursive;

  font-size: 70px;
  font-weight: bold;
}

.estrellas span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 24.3px;
  height: 148.5px;
  margin-left: -18.225px;
  line-height: 291.15px;
  /* height*2 - font-size */
  text-align: center;
  transform-origin: top center;
}

.estrellas span:nth-of-type(1) {
  transform: rotate(75deg);
}

.estrellas span:nth-of-type(2) {
  transform: rotate(50deg);
}

.estrellas span:nth-of-type(3) {
  transform: rotate(25deg);
}

.estrellas span:nth-of-type(4) {
  transform: rotate(0deg);
}

.estrellas span:nth-of-type(5) {
  transform: rotate(-25deg);
}

.estrellas span:nth-of-type(6) {
  transform: rotate(-50deg);
}

.estrellas span:nth-of-type(7) {
  transform: rotate(-75deg);
}

/* Reverse mode */
.inverso {
  font-weight: bold;
}

.inverso span {
  line-height: 27px;
  transform-origin: bottom center;
  font-family: 'Cabin Sketch', cursive;


}

.nav-pills .pill-1 .nav-link:not(.active) {
  background-color: #E0FFFF;
  color: #708090;
}

.nav-pills .pill-3 .nav-link:not(.active) {
  background-color: #E0FFFF;
  color: #708090;

}

.nav-pills .pill-4 .nav-link:not(.active) {
  background-color: #E0FFFF;
  color: #708090;
}


/* active (faded) */
.nav-pills .pill-1 .nav-link {
  background-color: #E0FFFF;
  color: #DCDCDC;
}

.nav-pills .pill-3 .nav-link {
  background-color: #E0FFFF;
  color: #DCDCDC;
}

.nav-pills .pill-4 .nav-link {
  background-color: #E0FFFF;
  color: #DCDCDC;
}
.flip {
    -webkit-perspective: 800;
    width: 350px;
    height: 150px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
      font-family: 'Cabin Sketch', cursive;
    font-size: 1.5em;
    text-align: center;
    line-height: 150px;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}

.containerOne {
  width: 300px;
  height: 200px;
  position: relative;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  border-radius: 4px;
}
.cardOne {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  cursor: pointer;
}
.cardOne div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  background: #fff;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-pack: center;
  justify-content: center;
  -o-box-align: center;
  align-items: center;
  font: 16px/1.5 "Cabin Sketch", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}
.cardOne .backOne {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cardOne.flippedOne {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
